extends layout.pug

block append topscripts     
    link(href='/assets/css/scrollspyNav.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='/assets/css/forms/switches.css')
    link(rel='stylesheet' type='text/css' href='/plugins/table/datatable/datatables.css')
    link(rel='stylesheet' type='text/css' href='/plugins/table/datatable/dt-global_style.css')
    script(type="text/javascript").
        function callcmb(id,val){
            $.ajax({
                type: 'post',
                url: '/catalogue/edit',
                data: {'productid' : id,
                        'val': val} ,
                success: function(data){
                     window.location.href = "http://localhost:8000/catalogue/view"
                }
            })
        }
block content
    #content.main-content
        .layout-px-spacing
            .row.layout-top-spacing#cancel-row
                if op.flag == 0
                    .col-xl-12.col-lg-12.col-sm-12.layout-spacing
                        .widget-content.widget-content-area.br-6
                            center
                                h4 Product List
                            .table-responsive.mb-4.mt-4
                                table#zero-config.table.table-hover(style='width:100%')
                                    thead
                                        tr
                                            th Image
                                            th Title
                                            th Price
                                            th Category
                                            th IsActive?
                                            //- th EDIT
                                    tbody
                                        each obj in op.data
                                            tr
                                                td 
                                                    img(src='/images/product/'+obj.ProductImg width="100px" height="100px")
                                                td #{obj.ProductTitle}
                                                td #{obj.Price}
                                                td #{obj.CategoryName}
                                                td 
                                                    if obj.IsActive == 0
                                                        label.switch.s-icons.s-outline.s-outline-primary.mb-4.mr-2
                                                            input(type='checkbox' onChange="callcmb("+obj.ProductId+","+obj.IsActive+");")
                                                            span.slider.round
                                                    else
                                                        label.switch.s-icons.s-outline.s-outline-primary.mb-4.mr-2
                                                            input(type='checkbox' onChange="callcmb("+obj.ProductId+","+obj.IsActive+");" checked='')
                                                            span.slider.round 
                                    
//- This is a page level scripts
block append bottomscripts
    script(src='assets/js/scrollspyNav.js').
    script(type="text/javascript" src='/plugins/table/datatable/datatables.js').
    script(type="text/javascript").
        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [5, 10, 20, 50],
                "pageLength": 5     
        });