extends layout.pug

block append topscripts     
    link(rel='stylesheet' type='text/css' href='/plugins/table/datatable/datatables.css')
    link(rel='stylesheet' type='text/css' href='/plugins/table/datatable/dt-global_style.css')

block content
    #content.main-content
        .layout-px-spacing
            .row.layout-top-spacing#cancel-row
                    //- Form content is starting from here
                    if op.flag == 1
                        col-lg-12.col-12.layout-spacing
                            .statbox.widget.box.box-shadow
                                .widget-header
                                    .row
                                        .col-xl-12.col-md-12.col-sm-12.col-12
                                            h4 Manage offer
                                .widget-content.widget-content-area
                                    form(method="post" action="/offer/edit")
                                        .form-group.mb-4.col-lg-5
                                            label(for='txtOffer') Enter Offer Text    
                                            input(type='hidden' name="txtOfferId" value=op.data[0].OfferId)                                    
                                            input#txtOffer.form-control(type='text' placeholder='Offer Text' name="txtOfferName" value=op.data[0].OfferName)
                                        input.btn.btn-success(type='submit' name='time' value="Save & Update")


            //- table content is starting from here
            .col-xl-12.col-lg-12.col-sm-12.layout-spacing
                .widget-content.widget-content-area.br-6
                    .table-responsive.mb-4.mt-4
                        table#zero-config.table.table-hover(style='width:100%')
                            thead   
                                tr
                                    th Offer
                                    th Edit
                            tbody
                                    
                                each obj in op.data
                                    tr
                                        td #{obj.OfferName}
                                        td 
                                            a(href="/offer/edit/"+obj.OfferId)
                                                button(class="btn btn-warning") EDIT
                                    
//- This is a page level scripts
block append bottomscripts
    script(type="text/javascript" src='/plugins/table/datatable/datatables.js').
    script(type="text/javascript").
        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
                "pageLength": 7     
        });