extends layout.pug

block append topscripts
    link(href='/plugins/sweetalerts/sweetalert2.min.css' rel='stylesheet' type='text/css')
    link(href='/plugins/sweetalerts/sweetalert.css' rel='stylesheet' type='text/css')
    //- link(href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css")     
    script(src="https://code.jquery.com/jquery-3.5.0.js").
    script(type="text/javascript").
        $(document).ready(function () {
            if(#{op.flag==1})
            {
                swal({
                    title: '#{op.message}',
                    padding: '2em'
                })
            }

            $.ajax({
                type: 'post',
                url: '/order/pr',
                data: {'message' : "ajaxproduct"} ,
                success: function(data){
                    var cmbp = '<div class="row" id="row1"><div class="col">';
                    cmbp += '<select class="form-control custom-select" id="cmbproduct" name="txtProductName[]" onchange="cmbchange()" id="cmb1" required><option selected="" disabled>Select Product</option>';
                    for (var i=0;i < data.length; i++)
                    {
                        cmbp += '<option value="'+data[i].ProductId+'">'+data[i].ProductTitle+' - Price -- ' + data[i].Price +'</option>';
                    }
                    cmbp += '</select></div>';
                    cmbp += '<div class="col">';
                    cmbp += '<button class="btn btn-danger" type="button" id="btn1" onclick="deletecmbrow(1)" disabled="disabled">DELETE</button>';
                    cmbp += '</div></div>';
                    document.getElementById('cmbpr').innerHTML = cmbp;
                }
            })

            $.ajax({
                type: 'post',
                url: '/common/customer',
                data: {'message' : "ajaxcustomer"} ,
                success: function(data){
                    var cmbc = '<select class="form-control custom-select" name="cmbCustomer" required><option selected="" disabled>Select Customer</option>';
                    for (var i=0;i < data.length; i++)
                    {
                        cmbc += '<option value="'+data[i].UserId+'">'+data[i].UserName+'</option>';
                    }
                    document.getElementById('cmbcustomer').innerHTML = cmbc;
                    document.getElementById('cmbcustomer').innerHTML += '</select>';
                }
            })

            $.ajax({
                type: 'post',
                url: '/common/warranty',
                data: {'message' : "ajaxwarranty"} ,
                success: function(data){
                    var control1 = "";
                    for (var i=0;i < data.length; i++)
                    { 
                        control1 += "<input type='radio' name='txtWarranty' value="+data[i].WarrantyValue+" required>";
                        control1 += "<label> &nbsp;&nbsp;"+ data[i].WarrantyName +"</label> <br>"
                    }
                    document.getElementById('rdwarranty').innerHTML = control1;
                }
            })
            $.ajax({
                type: 'post',
                url: '/common/service',
                data: {'message' : "ajaxservice"} ,
                success: function(data){
                    var cmbs = '<select class="form-control custom-select" name="cmbService" required><option selected="" disabled>Select Service</option>';
                    for (var i=0;i < data.length; i++)
                    {
                        cmbs += '<option value="'+data[i].ServiceId+'">'+data[i].ServiceName+'</option>';
                    }
                    document.getElementById('cmbservice').innerHTML = cmbs
                    document.getElementById('cmbservice').innerHTML += '</select>';
                    //- alert(data[0]['AreaName']);
                }
            })
            $.ajax({
                type: 'post',
                url: '/common/type',
                data: {'message' : "ajaxtype"} ,
                success: function(data){
                    var cmbt = '<select class="form-control custom-select" name="cmbType" required><option selected="" disabled>Select Job Type</option>';
                    for (var i=0;i < data.length; i++)
                    {
                        cmbt += '<option value="'+data[i].TypeId+'">'+data[i].TypeName+'</option>';
                    }
                    document.getElementById('cmbtype').innerHTML = cmbt;
                    document.getElementById('cmbtype').innerHTML += '</select>';
                    //- alert(data[0]['RoleName']);
                }
            })

        })

block content
    #content.main-content
        .layout-px-spacing
            .row.layout-top-spacing#cancel-row
                col-lg-12.col-12.layout-spacing
                    .statbox.widget.box.box-shadow
                        .widget-header
                            .row
                                .col-xl-12.col-md-12.col-sm-12.col-12
                                    h4 Create Order
                        .widget-content.widget-content-area
                            form(method="post" action="/order/add")
                                .form-group.row.mb-4.col-lg-6
                                    .col
                                        span(style="color:red;font-weight:bold;") *
                                        label(for="cmbCustomer")  Select Customer
                                        div#cmbcustomer
                                .form-group.row.mb-4.col-lg-6
                                    .col
                                        span(style="color:red;font-weight:bold;") *
                                        label(for="warranty")  Select Warranty
                                        div#rdwarranty
                                .form-group.row.mb-4.col-lg-10
                                    .col
                                        span(style="color:red;font-weight:bold;") *
                                        label(for="cmbService")  Select Service
                                        div#cmbservice
                                    .col
                                        span(style="color:red;font-weight:bold;") *
                                        label(for="cmbType")  Select Job Type
                                        div#cmbtype        
                                .form-group.row.mb-4.col-lg-7
                                    .col
                                        span(style="color:red;font-weight:bold;") *
                                        label(for="cmbProduct")  Add Product 
                                        div#cmbpr
                                .form-group.row.mb-4.col-lg-6
                                    .col        
                                        span(style="color:red;") * Required Field
                                input.btn.btn-success(type='submit' name='smt' value="SAVE")
block append bottomscripts
    script(src='/plugins/sweetalerts/sweetalert2.min.js').
    script(type="text/javascript").
        var cnt = 1;
        function cmbchange()
        {
            cnt++;
            $.ajax({
                type: 'post',
                url: '/order/pr',
                data: {},
                success : function(data){  
                    var control = "<div class='row' id='row"+cnt+"'><div class='col'><select class='form-control custom-select' name='txtProductName[]' onchange='cmbchange()' id='cmb"+cnt+"'><option selected='' disabled> Select Product </option>"
                    for(var i=0;i<data.length; i++)
                    {   
                        //- alert(i);
                        control+="<option value='"+data[i].ProductId+"'>"+data[i].ProductTitle+" - Price--"+data[i].Price+"</option>"
                    }
                    control+="</select></div>";
                    control+="<div class='col'><button id='btn"+cnt+"' class='btn btn-danger' type='button'  onclick='deletecmbrow("+cnt+")' value='DELETE'>DELETE</button></div></div>";
                    $("#cmbpr").append(control);    
                    }
                })
        }
        function deletecmbrow(rowid)
        {
            $("#row" + rowid).remove();
        }