extends layout.pug

block append topscripts
    //- link(href="/assets/css/users/user-profile.css" rel="stylesheet" type="text/css")
    //- link(href='/plugins/apex/apexcharts.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='/assets/css/widgets/modules-widgets.css')
    
block content
    #content.main-content
        .layout-px-spacing
            .row.analytics     
                
                div.col-xl-6.col-lg-6.col-md-6.col-sm-6.layout-top-spacing
                    div
                        input.btn.btn-primary(target="_blank" type="button" name="but" value="Download" onclick="window.open('http://localhost:8000/images/qr/pf.pdf')")
                    img(src="/images/qr/img.png",width="500",height="630", alt="scan qr code")